/* CSS for the chat bubble and modal */ 

.chat {
    display: flex;
    height: 56px;
    padding-right:3rem; 
    border-radius: 100px;
    background-color: #E6F7FF;
    align-items: center;
    transition: transform 400ms;
}

.chatInteraction {
    transform: translateX(100%);
}

.chatContainer {
    min-width: 56px;
    height: 56px;
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    align-items: center;
    overflow: hidden;
    border-radius: 100px;
}

.bottom {
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
}

.btn-img {
    width:56px; 
    height: 56px;
    z-index: 100;
    position: absolute;
    right: 0;
    padding: 0;
}

.thumb {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.btn {
    cursor: pointer;
    border: none;
    background: none;
}


.chatLabel {
    display: block;
    padding: 0 1.25rem 0 3rem;
    font-weight: 500;
    font-size: .85rem;
}

.exitChat {
    display: block;
    background: none;
    position: absolute;
    left: .5rem;
    border: none;
    border-radius: 100px;
}

.exitModal {
    right: 1.8rem;
    left: auto;
    top: 1.8rem;
    padding: .5rem;
}

/* Chat Modal */
.chatModal {
    /*background-image: url("../img/farma.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 70%;*/  
    display: flex;
    flex-direction: column;
    min-height: 900px;
    position: fixed;
    width: 400px;
    right: 1rem;
    bottom: 1rem;
    background-color: #FFF;
    z-index: 1000;
    border-radius: 6px;
    box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, .035);
    border: 1px solid #ededed;
}

.modalContent {
    padding: 2rem;
}

.modalChunk {
    padding: 1.5rem;
    background-color: #E6F7FF;
    border-radius: 6px;
    margin: 0 0 1rem 0;
}

.chatImg {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.modalHeading {
    width:85%;
    line-height: 150%;
    margin: 0;
}

.modalHeadBlock{
    padding: 2rem;
    border-bottom: 1px solid #d6d6d6;
}

@media only screen and (max-width: 600px) {
    .chatModal {
        min-height: auto;
        width: auto;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0;
    }
    
    .chatImg {
        max-height: 180px;
    }

    .exitModal {
        right: 1rem;
        top: 1rem;
    }

    .modalHeadBlock{
        padding: 1rem;
    }

    .modalContent {
        padding: 1rem;
    }
    
}

/* Hiding chatmodal background image on devices with height less than or equal to 800px */
@media only screen and (max-height: 800px) {
    .chatModal {
        background-image: none;
    }
}