/* Main css */

body {
    height: 400vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

p {
    font-size: 1rem;
    line-height: 150%;
    margin: .5rem 0;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin-top: 0;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: .85rem;
}

.cta {
    display: flex;
    gap: .5rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: .65rem 1rem;
    border: none;
    border-radius: 6px;
    color: #fff;
    margin-top: .5rem;
}

.secondaryOutline {
    border: 2px solid #0d2880;
    background-color: transparent;
    color: #0d2880;
    max-height: 44.5px;
}

.fullwidth {
    width: 100%;
}

.primary {
    background-color: #1b6613; 
}

.secondary {
    background-color: #0d2880;
}

/* Sticky */
.sticky {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #ededed;
    padding: 1rem;
}

.hidden {
    display: none;
}