.cols {
    display: flex;
    margin-bottom: 3rem;
    gap: 2rem;
}

.noGap {
    gap: 0;
}

.greyBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    border-radius: 6px;
}

.noBorder {
    border: none;
}

.blue {
    background-color: #f0f8fd;
}

.uvForm {
    display: flex;
    width: 100%;
    gap: 1rem;
    margin-bottom: 2rem;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
    /* margin-bottom: 3.5rem; */
}

.rightBlock {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1rem;
}

.halfWidth {
    width: 50%;
}

#uvIndex, #uvTitle {
    margin-bottom: 0;
    line-height: 140%;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-bottom: .5rem;
}

.green {
    background-color: #ADDA9A !important;
}

.yellow {
    background-color: #ffe164 !important;
}

.orange {
    background-color: #FF8F4D !important;
}

.red {
    background-color: #F05E4A !important;
}

.blue {
    background-color: #C2E5F8 !important;
}

.grey {
    background-color: #F7F7F8 !important;
}

.uvResult {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 0 0;
    gap: .5rem;
    background-color: #F7F7F8;
    padding: 2rem;
    border-radius: 6px;
}

.weatherIcon {
    width: 72px;
}

.uvPic {
    margin-top: -200px;
}

.uvlevel, #uvIndex {
    font-size: .875rem;
    font-weight: 500;
    margin-top: 0;
}

.uvlevel {
    margin-left: auto;
    margin-bottom: 0 !important;
}

.uvbar {
    width: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.bar {
    height: 1rem;
    display: flex;
    gap: .5rem;
    border-radius: 6px;
}

.barvalue {
    flex: 1;
    background-color: #d6d6d6;
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .greyBlock {
        width: 100%;
    }
    
    .leftBlock {
        width: 100%;
        flex-direction: column;
        margin: 0;
    }
    
    .uvForm {
        width: 100%;
        flex-direction: column;
        margin: 0 0 0 0;
    }

    .cols {
        flex-direction: column;
        margin-bottom: 0;
    }

    .flex-reverse {
        flex-direction: column-reverse;
    }

    .h-370 {
        height: auto;
    }

    .p-24 {
        padding: 1rem;
    }

    .noPadding {
        padding: 0 !important;
    }

    .uvPic {
        margin-top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .imgContainer {
        height: 250px;
        object-fit: cover;
    }

    .halfWidth {
        width: 100%;
    }

    .uvResult {
        padding: 1rem;
    }

    .noGap {
        gap: 1rem;
    }

    .bar {
        height: .75rem;
        gap: .25rem;
    }
}